<h1>Contact Us</h1>


<div class="row">
    <form action="">
        <div class="col col1">
            <label for="name">Your Name (required)
                <br>
                <input type="text" name="name" id="name">
            </label>
            <br>
            <label for="email">Your Email (required)
                <br>
                <input type="email" name="email" id="email">
            </label>
            <br>
            <label for="subject">Subject
                <br>
                <input type="text" name="subject" id="subject">
            </label>
            <br><br>
            <label for="">Your Message
                <br>
                <input type="text" name="message" id="message">
            </label>
        </div>

        <button>Submit</button>

    </form>
    <div class="col col2">
        <h1>Contact Info</h1>
        <p>27 Parl Road, Belvedere, Meadowbridge P.O, Kingston 19, Jamaica</p>
        <p>876-456-9012</p>
        <p>info@cameliousbeau.com</p>
        <p>http://www.cameliousbeau.com</p>
    </div>

</div>
